/* Footer Style */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 16rem;
    background-color: var(--blue_color);
    align-items: center;
    justify-content: center;
}

.footer-content{
    display: flex;
    width: 60%;
    justify-content: space-around;
    margin-top: 30px;
}

.footer-section {
    display: flex;
    flex: 1;
    color: #FFFFFF;
    margin-right: 3rem;
    text-align: left;
    flex-direction: column;
    position: relative;
}

.footer-bottom{
    color: #FFFFFF;
    margin-top: 5em;
    margin-right: 1em;
    text-align: center;
}
