.login-screen {
    display: flex;
    justify-content: center;
}

#login-fields {
    width: 10rem;
}

#login-fields > div {
    margin-top: 3rem;
}

#login-submit {
    margin-left: 3rem;
    margin-top: 1rem;
}

.login-form img {
    border-radius: 4px;
    height: 2rem;
}

.login-form{
    margin-left: auto;
}

form .logout-btn{
    color: red;
    background-color: #FFFFFF;
}