:root {
    --blue_color: #0F52BA;
    --red_color: #DE1313;
    --background_color: #FFFFFF;
}

.company {
    color: var(--red_color);
}


/*Navbar config*/

.navbar {
    height: 5rem;
    background-color: var(--blue_color);
}

ul.navbar-nav {
    list-style: none;
    padding: 0;
    margin: 0;
    width: 100%;
    text-align: left;
}

li.nav-item:first-child {
    margin-left: 4rem;
}

li.nav-item {
    margin-right: 20px;
}

li.nav-item:last-child {
    margin-left: 55%;
}

.navbar-brand img {
    height: 4rem;
    margin-left: 6rem;
    mix-blend-mode: multiply;
}

.nav-item img {
    border-radius: 4px;
    height: 2rem;
}

.login-form {
    margin-left: auto;
}

/* General Body Styles */
body {
    display: flex;
    flex-direction: column;
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background: #f0f2f5;
}

/* Footer Style */
footer{
    width: 100%;
    display: flex;
    flex-direction: column;
    min-height: 16rem;
    background-color: var(--blue_color);
    align-items: center;
    justify-content: center;
}

.footer-content{
    display: flex;
    width: 100%;
    justify-content: space-around;
    margin-top: 30px;
}

.footer-section {
    display: flex;
    flex: 1; /* Adjusted from 0.5 for equal distribution */
    color: #FFFFFF;
    margin-right: 20px;
    text-align: right;
    padding-right: 8px;
    flex-direction: column;
    position: relative;
}

.footer-section::after {
    content: "";
    position: absolute;
    right: 0;
    top: 0;
    bottom: 0;
    width: 2px; /* As the border width */
    background-color: #FFFFFF; /* Same as the border color */
}

.footer-bottom{
    color: #FFFFFF;
    margin-top: 5em;
    margin-right: 1em;
    text-align: center;
}

.content {
    min-height: 80vh;
}

/* Header Styles */
header {
    background-color: #ffffff;
    padding: 20px;
    box-shadow: 0 2px 4px rgba(0,0,0,0.1);
}

.company {
    text-align: center;
    margin: 20px;
}

h2 {
    color: #333;
}

/* Styling for each company card */
.company-card {
    background: #ffffff;
    border-radius: 8px;
    box-shadow: 0 2px 8px rgba(0,0,0,0.1);
    margin: 20px;
    padding: 20px;
    display: inline-block;
    width: calc(50% + 40px); /* Adjust width as necessary */
}

.company-card h4 {
    color: #0056b3;
    margin-top: 0;
}

.company-card p {
    color: #666;
}

/* Style for icons and action items in the header */
.icon {
    padding: 10px;
    float: right;
    background: none;
    border: none;
}

/* Clear floats */
.clearfix::after {
    content: "";
    clear: both;
    display: table;
}

/* Home page formatting */

#searchbar-container {
    display: flex;
    justify-content: center;
}

.search-bar{
    width: 50%;
    margin-top: 4rem;
    padding: 8px;
    border-radius: 25px;
}

.profile-info, .applied-jobs-container {
    display: flex;
    flex-direction: row; /* Arrange items in a row */
    align-items: center; /* Align items vertically in the center */
    justify-content: start; /* Start aligning items from the start, adjusting as necessary */
    padding: 20px;
    box-sizing: border-box;
}

.profile-info {
    flex: 1 1 60%; /* Flex grow, flex shrink, flex basis */
}

.applied-jobs-container {
    flex: 1 1 40%; /* Flex grow, flex shrink, flex basis */
    padding-top: 80px;
}

.profile-pic {
    width: 40%;
    display: flex;
    align-items: center; /* Center the image vertically */
    justify-content: center; /* Center the image horizontally in its div */
}

.profile-pic img {
    width: 100%;
    height: auto;
    padding: 10%;
}

.personal-info {
    flex: 1; /* Takes remaining space after the profile-pic */
    display: flex;
    flex-direction: column;
    justify-content: center; /* Center content vertically */
}

/* Job container styling for better horizontal alignment */
.applied-jobs-container {
    align-items: flex-start; /* Align the job cards at the start of the flex container */
    justify-content: center; /* Ensure that the content within is centered if less than full width */
}

/* Styling adjustments for responsiveness */
@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .profile-info, .applied-jobs-container {
        flex-basis: 100%; /* Each section takes full width on smaller screens */
        justify-content: center; /* Ensure content is centered on smaller screens */
    }
    .profile-info {
        flex-direction: column; /* Stack elements vertically on smaller screens */
    }
    .applied-jobs-container {
        padding-top: 20px;
    }
}
