.profile-container {
    display: flex;
    flex-flow: row;
    align-items: start;
}

.profile-info {
    width: 60%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: start;
    padding: 20px;
    box-sizing: border-box;
}

.applied-jobs-container {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: start;
    padding: 20px;
    box-sizing: border-box;
}

.applied-jobs-container {
    flex: 1 1 40%;
    padding-top: 80px;
}

.profile-pic {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
}

.profile-pic img {
    width: 100%;
    height: auto;
    padding: 10%;
}

.personal-info {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}


.applied-jobs-container {
    align-items: flex-start;
    justify-content: center;
}


@media (max-width: 768px) {
    .container {
        flex-direction: column;
    }
    .profile-info, .applied-jobs-container {
        flex-basis: 100%;
        justify-content: center;
    }
    .profile-info {
        flex-direction: column;
    }
    .applied-jobs-container {
        padding-top: 20px;
    }
}