{% extends 'base.html' %}
{% block content %}
<div class="container-applications" id="container-applications">
    <div class="application-info">
        <div class="application-logo-container">
            <img class="application-logo" src="{{ job.company.get_first_image }}" alt="{{ job.title }} Logo">
        </div>
        <div class="application-details">
            <h2 id="job-title">{{ job.title }}</h2>
            <p id="job-company">{{ job.company.name }}</p>
            <p id="job-location">{{ job.location }}</p>
            <p id="job-type">{{ job.job_type }}</p>
            <p id="job-category">{{ job.category }}</p>
            <p id="job-due-date">Due Date: {{ job.due_date }}</p>
            <p id="job-start-date">Start Date: {{ job.start_date }}</p>
        </div>
    </div>
    <div id="job-description" class="job-description">{{ job.description|safe }}</div>
    <div class="apply-btn-container">
        {% if application %}
            <p>You applied on {{ application.applied_on }}. Status: {{ application.status }}</p>
        {% else %}
            <a href="{% url 'apply' job.id %}" class="btn apply-btn" id="apply-btn">Apply</a>
        {% endif %}
    </div>
</div>
{% endblock %}
