{% extends 'base.html' %}
{% block content %}
<div class="container-applications" id="container-applications">
    <div class="application-info">
        <div class="application-logo-container">
            <img class="application-logo" src="{{ job.company.get_first_image }}" alt="{{ job.name }} Logo">
        </div>
        <a href="{% url 'delete_joblisting' job.id %}" class="black btn btn-primary">Delete Joblisting</a>
        <div class="application-title">
            <p id="job-title">{{ job.name }}</p>
            <p id="job-company">{{ job.company.name }}</p>
            <p id="job-location">{{ job.location }}</p>
        </div>
    </div>
</div>
<div>
    <div class="apply-btn-container">
        <a href="{% url 'apply' job.id %}" class="btn apply-btn" id="apply-btn">Apply</a>
    </div>
</div>
{% endblock %}
