{% extends 'base.html' %}
{% block content %}
<div class="container-applications" id="container-applications">
    <div class="application-info">
        <div class="application-logo-container">
            <img class="application-logo" src="{{ job.company.get_first_image }}" alt="{{ job.title }} Logo">
        </div>
        <div class="application-title">
            <p id="job-title">{{ job.title }}</p>
            <p id="job-company">{{ job.company.name }}</p>
            <p id="job-location">{{ job.location }}</p>
            <p id="job-category">{{ job.category }}</p>
            <p id="job-due-date">Due Date: {{ job.due_date }}</p>
            <p id="job-start-date">Start Date: {{ job.start_date }}</p>
            <div id="job-description">{{ job.description|safe }}</div>
        </div>
    </div>
</div>
<div>
    <div class="apply-btn-container">
        {% for application in job.application_set.all %}
            {% if application.applicant == request.user %}
                <p>You applied on {{ application.created_at }}. Status: {{ application.status }}</p>
            {% endif %}
        {% empty %}
            <a href="{% url 'apply' job.id %}" class="btn apply-btn" id="apply-btn">Apply</a>
        {% endfor %} 
    </div>
</div>
{% endblock %}
