{% extends 'base.html' %}
{% block content %}
    <div class="container-applications">
        <div class="application-info">
            {% with job.company.get_first_image as company_image %}
                <div class="application-logo-container">
                    <img class="application-logo" src="{{ company_image }}" alt="{{ job.name }} Logo">
                </div>
            {% endwith %}
            <div class="application-title">
                <p id="job-title">{{ job.description }}</p>
                <p id="job-company">{{ job.name }}</p>
                <p id="job-location">{{ job.location }}</p>
            </div>
        </div>
        <div>
            <button class="apply-button">
                <a class="apply-link">
                    <p>Apply</p>
                </a>
            </button>
        </div>
    </div>
{% endblock %}