{% extends 'base.html' %}
{% block content %}
    <!--
    
    Er einhver sérstök ástæða fyrir header? Erum með navbar.
    
    <header>
        <button class="icon settings-icon">Settings Icon</button>
        <button class="icon profile-icon">Profile Icon</button>
        <input type="text" class="search-bar" placeholder="Search...">
    </header>
    -->
    
    <div id="searchbar-container">
        <input type="text" class="search-bar" placeholder="Search...">
    </div>
    <div class="company">
        {% for company in companies %}
            <div class="company-card">
                <h4>{{ company.name }}</h4>
                <p>{{ company.job_listing }}</p>
            </div>
        {% endfor %}
    </div>
{% endblock %}
