{% extends 'base.html' %}

{% block content %}
<div class="company-info-page-container">
    <div class="company-info-container">
        <div class="application-logo-container">
            {% if company.get_first_image %}
                <img class="application-logo" src="{{ company.get_first_image }}" alt="{{ company.name }} Image">
            {% else %}
                <p>No image available</p>
            {% endif %}
        </div>
        <div class="company-info-header">
            <h1>{{ company.name }}</h1>
        </div>
        <div class="company-info-details-container">
            <div class="company-info-details">
                <p><strong>Founded:</strong> {{ company.CompanyStart_date }}</p>
                <p><strong>Location:</strong> {{ company.location }}</p>
            </div>
            <div class="company-info-website">
                <a href="{{ company.link_to_page }}">
                    <button class="btn website-btn">Website</button>
                </a>
            </div>
        </div>
    </div>
    <div class="company-description-container">
        <h1>Description</h1>
        <p class="company-description"> {{ company.description }} Lorem ipsum delanda est</p>
    </div>
</div>
{% endblock %}
