{% extends 'base.html' %}
{% block content %}
    <div id="searchbar-container">
        <input type="text" class="search-bar" placeholder="Search...">
        <a href="{% url 'create_company' %}" class="btn btn-primary create-company-btn">Create Company</a>
    </div>
    <div class="container-companies">
        <div class="companies">
            {% for company in company %}
                {% include 'company/single_company.html' with company=company %}
            {% endfor %}
        </div>
    </div>
{% endblock %}
