{% load static %}
<footer>
    <div class="footer-content">
        <div class="footer-section">
            <h4>About Us</h4>
            <p>We at JobHub aim to provide a one stop shop for all of your job seeking needs. 
                Not only do we provide employers with modern statistical analysis as well as
                take an innovative approach to job application.</p>
        </div>
        <div class="footer-section">
            <h4>Contact Us</h4>
            <p>jobhub@jobhub.com</p>
            <p>+354 615-9401</p>
        </div>
        <div class="footer-section">
            <h4>Follow Us</h4>
            <p>Instagram</p>
            <p>Twitter</p>
        </div>
    </div>
    <div class="container footer-bottom">
        <p>Copyright JobHub© 2024 All rights reserved.</p>
    </div>
</footer>