{% load static %}
<nav class="navbar navbar-expand-lg">
  <div class="container-fluid">
    <a class="navbar-brand" href="/"><img src="{% static 'images/JobHub_logo.png' %}" alt="JobHub"/></a>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="{% url 'homepage-index' %}">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'company-index' %}">Company</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="{% url 'register' %}"><img src="{% static 'images/user_page.png' %}" alt="User Page" /></a>
        </li>
      </ul>
    </div>
  </div>
</nav> 