{% extends 'base.html' %}
{% load static %}
{% block content %}
<div class="profile-container">
    <div class="profile-info">
        <div class="profile-pic-edit">
            {% if user.profile.image %}
            <img src="{{ user.profile.image }}" alt="User Profile Picture" class="profile-img"/>
            {% else %}
            <img src="{% static 'images/user_page.png' %}" alt="Default Profile Picture" class="profile-img"/>
            {% endif %}
            <button class="btn btn-primary edit-profile-btn"><a href="{% url 'edit_profile' %}" class="text-white text-decoration-none">Edit Info</a></button>
        </div>
        <div class="personal-info">
            <h4>Full Name</h4>
            <p>{{ user.first_name }} {{ user.last_name }}</p>
            <h4>Email</h4>
            <p>{{ user.email }}</p>
        </div>
    </div>
    <div class="applied-jobs-container">
        <div class="applied-jobs-title">
        {% if applications %}
            <h2>Your Applications</h2>
        {% else %}
            <h2>You have not submitted any applications!</h2>
        {% endif %}
        </div>
        <div class="applied-cards-container">
            <div class="applied-jobs">
                {% for application in applications %}
                <div class="application-card">
                    <div class="company-logo-container">
                        {% if application.company.images %}
                        <img src="{{ application.company.get_first_image }}"
                             alt="{{ application.company.name }} Logo"
                             class="company-img"/>
                        {% endif %}
                    </div>
                    <h1>{{ application.job.title }}</h1>
                    <p><strong>Company:</strong> {{ application.company.name }}</p>
                    <p><strong>Category:</strong> {{ application.job.category }}</p>
                    <p><strong>Applied on:</strong> {{ application.created_at.date }}</p>
                    <p><strong>Due Date:</strong> {{ application.job.due_date }}</p>
                    <p><strong>Status:</strong> {{ application.status }}</p>
                </div>
                {% empty %}
                <p><a href="{% url 'homepage-index' %}">Press here to find new opportunities!</a></p>
                {% endfor %}
            </div>
        </div>
    </div>
</div>
{% endblock %}
