{% extends 'base.html' %}
{% load static %}
{% block content %}
    <div class="profile-info">
        <div class="profile-pic">
            <img src="{% static 'images/user_page.png' %}" alt="User Profile Picture" />
        </div>
        <div class="personal-info">
            <h4>Full Name</h4>
            <p>John Ladiesman</p>
            <h4>Phone Number</h4>
            <p>420 6969</p>
            <h4>Email</h4>
            <p>johnny@gotswag.com</p>
        </div>
    
    </div>
    <div class="applied-jobs-container">
    <h4>Applied Jobs</h4>
    {% for company in companies %}
        <div class="company-card">
            <h4>{{ company.name }}</h4>
            <p class="meta-info">Applied for: 10/05/2024</p>
            <p>{{ company.job_listing }}</p>
        </div>
    {% endfor %}
    </div>

{% endblock %}
